# MySQL
MYSQL_ROOT_PASSWORD=your_password
MYSQL_DATABASE=bloodbank_ebean

# Backend
DB_URL=jdbc:mysql://mysql:3306/bloodbank_ebean
DB_USERNAME=root
DB_PASSWORD=your_password

# Play
PLAY_HTTP_SECRET_KEY=replace_with_random_secret

# JWT
JWT_SECRET=replace_with_random_secret