@main("Blood Request") {

    <h2>Blood Request</h2>

    <form action="/request" method="POST">

        <div>
            <label>Blood Group</label>

            <select name="bloodGroup">
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>O+</option>
                <option>O-</option>
            </select>
        </div>

        <div>
            <label>Units Required</label>
            <input type="number" name="unitsRequired">
        </div>

        <div>
            <label>Hospital Name</label>
            <input type="text" name="hospitalName">
        </div>

        <button type="submit">
            Submit Request
        </button>

    </form>

}